SUPABASE_URL=https://wbiharsgqnayajqhmldt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndiaWhhcnNncW5heWFqcWhtbGR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NjU1MTUsImV4cCI6MjA5NDA0MTUxNX0.503spcEhzSaz9OegkdhVrtO8bnTLKjkhZ4fTQZqa-Js
NEXT_PUBLIC_TESTING_PHASE=true